{% extends 'base.html' %} {% block content %}

<div
  class="d-flex justify-content-center align-items-center"
  style="min-height: 75vh"
>
  <div class="card shadow rounded-4" style="width: 500px">
    <div class="card-header bg-danger text-white text-center rounded-top-4">
      <h4 class="mb-0 py-2">
        <i class="bi bi-credit-card-2-back-fill"></i> Credit Sale
      </h4>
    </div>

    <div class="card-body">
      <form method="post" novalidate>
        {% csrf_token %}

        <!-- Item Name (Autocomplete Field) -->
        <div class="mb-3">
          <label for="id_item_name" class="form-label fw-semibold">Item</label>
          {{ form.item_name }}
          <datalist id="item-list">
            {% for item in form.items_qs %}
            <option value="{{ item.name }}">{% endfor %}</option>
          </datalist>

          {% if form.item_name.errors %}
          <div class="text-danger small">
            {{ form.item_name.errors|striptags }}
          </div>
          {% endif %}
        </div>

        <!-- Quantity -->
        <div class="mb-3">
          <label for="id_quantity" class="form-label fw-semibold"
            >Quantity</label
          >
          {{ form.quantity }} {% if form.quantity.errors %}
          <div class="text-danger small">
            {{ form.quantity.errors|striptags }}
          </div>
          {% endif %}
        </div>

        <!-- Customer Name -->
        <div class="mb-3">
          <label for="id_customer_name" class="form-label fw-semibold"
            >Customer Name</label
          >
          {{ form.customer_name }} {% if form.customer_name.errors %}
          <div class="text-danger small">
            {{ form.customer_name.errors|striptags }}
          </div>
          {% endif %}
        </div>

        <!-- Customer Phone -->
        <div class="mb-3">
          <label for="id_customer_phone_number" class="form-label fw-semibold"
            >Phone Number</label
          >
          {{ form.customer_phone_number }}
          <!--  -->
          {% if form.customer_phone_number.errors %}
          <!--  -->
          <div class="text-danger small">
            {{ form.customer_phone_number.errors|striptags }}
          </div>
          {% endif %}
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-danger">
            <i class="bi bi-plus-circle-fill"></i> Credit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
